html {
  font-family: "Helvetica Neue" Helvetica sans-serif;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

a {
  color: #007D9C;
  text-decoration: none;
}

a:hover {
  color: #006984;
}

.code {
  border: solid 1px #ccc;
}
